h2 {
    font-family: "nexa-rust-sans-black-2" ;
  text-align: center;
  color: var(--white);
  height: 100%;
  font-size: 1em;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
}

section img,p {
    margin: 1em;
    width: 50vw;
    text-align: center;
}

section p {
    color: var(--white);
}