
main {
    display: flex;
    flex-direction: column;
    /* margin-top: 1em; */
  }
  
  section {
    margin-top: 1em;
    padding: 1em;
    width: 87vw;
    overflow: hidden;
  }
  
  section img {
    max-width: 100%;
    height: 10em;
  }
  
  section p {
    color: var(--white);
  }
  
  
  /* Section 1 met poppetje */
  
  section:nth-of-type(1) {
    display: flex;
  }
  
  section:nth-of-type(1) img {
    rotate: 10deg;
    translate: -50%;
  }
  
  section:nth-of-type(1) p {
    rotate: 10deg;
    margin-top: 3em;
    padding: 0.5em;
    background-color: var(--hout);
    border-radius: .25em;
    border: solid var(--donkerhout);
    color: var(--offblack);
  }
  
  /* Section 2 met poppetje */
  
  section:nth-of-type(2) {
    display: flex;
  }
  
  section:nth-of-type(2) img {
    rotate: -10deg;
    translate: 200%;
  }
  
  section:nth-of-type(2) p {
    rotate: -10deg;
    translate: -60%;
    margin-top: 3em;
    padding: 0.5em;
    background-color: var(--hout);
    border-radius: .25em;
    border: solid var(--donkerhout);
    color: var(--offblack);
  }
  
  /* Section 3 met poppetje */
  
  section:nth-of-type(3) {
    display: flex;
    margin-bottom: 4em;
  }
  
  section:nth-of-type(3) img {
    rotate: 10deg;
    translate: -50%;
  }
  
  section:nth-of-type(3) p {
    rotate: 10deg;
    margin-top: 3em;
    padding: 0.5em;
    background-color: var(--hout);
    border-radius: .25em;
    border: solid var(--donkerhout);
    color: var(--offblack);
  }